<?xml version="1.0"?>
<model>
  <name>wall_exterior</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Antigravity</name>
    <email>antigravity@google.com</email>
  </author>
  <description>Standard 4.0m exterior wall segment, height 3.0m, thickness 0.25m.</description>
</model>
