<?xml version="1.0"?>
<model>
  <name>ground_floor</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Antigravity</name>
    <email>antigravity@google.com</email>
  </author>
  <description>Ground floor assembly model of the restaurant containing dining area, reception, service pathway, charging area, and three kitchens.</description>
</model>
